.filterDiv {
    float: left;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btnn {
    border: none;
    outline: none;
    padding: 6px 8px;
    background-color: aquamarine;
    cursor: pointer;
    margin: 1px;
    margin-top: 3px;
    border: 1px solid black;
  }
  
  .btnn:hover {
    background-color: cornflowerblue;
  }
  
  .btnn.active {
    background-color: cornflowerblue;
    color: white;
  }